/* style.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("bg.jpg");
  color: #333;
  margin: 0;
  padding: 0 1rem;
  cursor: url('cursor.png') 16 16, auto; 
}

header {
  background: #181818;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 2rem 0;
}

h1 {
  margin-bottom: 0.5rem;
}

section {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

section h2 {
  color: #0066cc;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.5rem;
}

.badges span {
  display: inline-block;
  background: #e0e0e0;
  padding: 0.4rem 0.8rem;
  margin: 0.3rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.slide {
  height: 80vh; /* Full viewport height */
  display:flex;
  flex-direction:column;

  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

table {
  width: 100%;    
  border-collapse: collapse;
  margin-top: 1rem;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

a {
  color: #5a55ec;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  color: #565151;
  font-size: 0.9rem;
}

